 

[custom-fuxikapian="1"] mark:hover,[custom-fuxikapian="1"] mark:hover {
    color: rgb(0, 0, 0)!important;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-width: thin;
    border-color: rgb(66, 174, 207) !important;
    font-size: 24px ;
    font-weight: bolder;

}

[custom-fuxikapian="1"] mark ,[custom-fuxikapian="1"] mark {
    background-color: rgba(255, 255, 255) !important;
    color: rgba(255, 255, 255) !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}
[custom-fuxikapian="1"] {
    border-style:  solid;
    border-left-style: solid !important ;
    border-radius: 5px;
    border-width: 3px !important;
    border-color: rgba(181, 238, 255, 0.719) !important;
    background-color:rgba(181, 238, 255, 0.719)  !important;
}
